body {
    background-color: #E6BB70;
    color: #521300;
    font-family: 'PT Sans', arial, serif;
}
#header, #body-wrapper  {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#body-wrapper {
    margin-top: 80px;
    clear: both;
}
#header {
}
#header-title {
    float: left;
}
#twitter-sign-in {
    float: right;
}
#main {
    background-color: #FFFFFF;
    width: 960px;
    overflow: hidden;
}
#right-panel {
    background-color: #FFF1D7;
    float: right;
    width: 300px;
}
#footer {
    clear: left;
}
