body {
	margin:0px;
}



#top-nav {
    background:none repeat scroll 0 0 #234B6F;
    overflow:hidden;
    padding:8px 0;
}


#header-wrapper {
    background:#4E7BA3;
    border-bottom:1px solid #427EB4;
    border-top:1px solid #6C9CC7;
    height:80px;
}
#header-wrapper .container {
    width:960px;
}

#header {
    width:200px;
    float:left;
}
#header h1 {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 5px;
    padding: 0 10px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}