body {
    background-color: #E6BB70;
    color: #521300;
}
#header {
    padding: 10px 10px 10px 10px;
    min-height: 40px;
}
#main {
    padding: 0 10px 0 10px;
}
#header, #main {
    background-color: #FFF1D7;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#header-title {
    float: left;
}
#twitter-sign-in {
    float: right;
}
