<p id="notice"><%= notice %></p>
<h1><%= @user.name %></h1>
<h2>My Brewskis</h2>
<% @user.reviews.each do |review| %>
    <div class="user-review-row">
      <div class="overall-rating">
        Overall Rating:
        <%= review.overall_rating %>
      </div>
      <div class="comment">
        Comment:
        <%= review.comment %>
      </div>
    </div>
<% end %>